.Header {
  padding-top: 0;
  padding-bottom: 0;
  height: $headerHeight;
  background: white;

  .navbar-collapse,
  .navbar-nav {
    height: 100%;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-item {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-color: transparent;
    text-decoration: none;
    color: $body-color;
    cursor: pointer;

    &.active {
      border-color: $primary;
    }

    a{
      text-decoration: none;
    }
  }
}

.navbar{
  padding-top: 16px;
  padding-bottom: 16px;
}

.new-header{
  position: sticky;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: transparent;
  text-decoration: none;
  color: $body-color;
  cursor: pointer;

  a{
    text-decoration: none;
  }
}

// @media (min-width: 400px) and (max-width: 700px) {
//   .collapse {
//       display: none !important;
//   }
// }