@mixin font-weight($weight) {
  @if $weight == light {
    font-weight: 300 !important;
  } @else if $weight == normal {
    font-weight: 400 !important;
  } @else if $weight == semi-bold {
    font-weight: 600 !important;
  } @else if $weight == bold {
    font-weight: 700 !important;
  } @else if $weight == extra-bold {
    font-weight: 800 !important;
  }
}
