.clear { clear: both; }

//
// Background utils
//
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .bg#{$infix}-transparent { background-color: transparent !important; }
    .bg#{$infix}-light       { background-color: $light !important; }
    .bg#{$infix}-dark        { background-color: $dark !important; }
    .bg#{$infix}-primary     { background-color: $primary !important; }
    .bg#{$infix}-secondary   { background-color: $secondary !important; }
    .bg#{$infix}-success     { background-color: $success !important; }
    .bg#{$infix}-danger      { background-color: $danger !important; }
    .bg#{$infix}-warning     { background-color: $warning !important; }
    .bg#{$infix}-info        { background-color: $info !important; }
  }
}

@each $color, $value in $theme-colors {
  .bg-hover-#{$color} {
    transition: background-color 0.15s ease-in-out;

    &:hover {
      background: $value !important;
    }
  }
}

//
// Border utils
//
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    .border-#{$breakpoint}-left-none {
      border-left: none !important;
    }
    .border-#{$breakpoint}-right-none {
      border-right: none !important;
    }
    .border-#{$breakpoint}-top-none {
      border-top: none !important;
    }
    .border-#{$breakpoint}-bottom-none {
      border-bottom: none !important;
    }
  }
}

//
// Sizing utils
//
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
      }
    }
  }
}

.min-width-0  { min-width: 0 !important; }
.min-height-0 { min-height: 0 !important; }
.max-width-0  { max-width: 0 !important; }
.max-height-0 { max-height: 0 !important; }

//
// Text utils
//
.text-underline       { text-decoration: underline !important; }
.text-wrap            { white-space: normal; word-wrap: break-word; }
.text-decoration-none { text-decoration: none !important; }
.white-space-normal   { white-space: normal !important; }
.white-space-pre-line { white-space: pre-line; }
.lead {
  font-size: 1.125rem;
  @include font-weight(normal);
}

//
// Cursor utils
//
.cursor-pointer { cursor: pointer; }
.cursor-default { cursor: default; }
.cursor-not-allowed { cursor: not-allowed; }

.pointer-events-none { pointer-events: none !important; }
.pointer-events-auto { pointer-events: auto !important; }
.pointer-events-all  { pointer-events: all !important; }

//
// Positioning
//
.t-0 { top: 0 !important; }
.r-0 { right: 0 !important; }
.b-0 { bottom: 0 !important; }
.l-0 { left: 0 !important; }

//
// Font sizes
//
.fs-xs   { font-size: 0.7rem !important; } // 11.2px
.fs-sm   { font-size: 0.8rem !important; } // 12.8px
.fs-md   { font-size: 0.9rem !important; } // 14.4px
.fs-base { font-size: 1rem !important; } // 16px
.fs-lg   { font-size: 1.125rem !important; } // 18px
.fs-xl   { font-size: 1.25rem !important; } // 20px

//
// Font weight
//
.fw-100        { font-weight: 100 !important; }
.fw-200        { font-weight: 200 !important; }
.fw-300        { font-weight: 300 !important; }
.fw-400        { font-weight: 400 !important; }
.fw-500        { font-weight: 500 !important; }
.fw-600        { font-weight: 600 !important; }
.fw-700        { font-weight: 700 !important; }
.fw-800        { font-weight: 800 !important; }
.fw-900        { font-weight: 900 !important; }
.fw-light      { @include font-weight(light); }
.fw-normal     { @include font-weight(normal); }
.fw-semi-bold  { @include font-weight(semi-bold); }
.fw-bold       { @include font-weight(bold); }
.fw-extra-bold { @include font-weight(extra-bold); }

//
// Opacity utils
//
.opacity-0   { opacity: 0 !important; }
.opacity-25  { opacity: 0.25 !important; }
.opacity-50  { opacity: 0.50 !important; }
.opacity-75  { opacity: 0.75 !important; }
.opacity-100 { opacity: 1 !important; }

//
// Transitions
//
.transition-none {
  transition: none !important;
}

//
// Line heighs
//
.line-height-1 { line-height: 1 !important; }
.line-height-2 { line-height: 2 !important; }

//
// Lists
//
.list-style-none { list-style: none !important; }

//
// Transforms
//
.transform-scale-0   { transform: scale(0); }
.transform-scale-10  { transform: scale(0.1); }
.transform-scale-20  { transform: scale(0.2); }
.transform-scale-30  { transform: scale(0.3); }
.transform-scale-40  { transform: scale(0.4); }
.transform-scale-50  { transform: scale(0.5); }
.transform-scale-60  { transform: scale(0.6); }
.transform-scale-70  { transform: scale(0.7); }
.transform-scale-80  { transform: scale(0.8); }
.transform-scale-90  { transform: scale(0.9); }
.transform-scale-100 { transform: scale(1); }

.transform-rotate-0 { transform: rotate(0deg); }
.transform-rotate-45 { transform: rotate(45deg); }
.transform-rotate-90 { transform: rotate(90deg); }
.transform-rotate-135 { transform: rotate(135deg); }
.transform-rotate-180 { transform: rotate(180deg); }
.transform-rotate-225 { transform: rotate(225deg); }
.transform-rotate-270 { transform: rotate(270deg); }
.transform-rotate-315 { transform: rotate(315deg); }
.transform-rotate-360 { transform: rotate(360deg); }


.shadow-0    { box-shadow: $boxShadow0 !important; }
.shadow-1    { box-shadow: $boxShadow1 !important; }
.shadow-2    { box-shadow: $boxShadow2 !important; }
.shadow-3    { box-shadow: $boxShadow3 !important; }
.shadow-none { box-shadow: none !important; }

//
// Flex
//
.flex-basis-0   { flex-basis: 0% !important; }
.flex-basis-25  { flex-basis: 25% !important; }
.flex-basis-50  { flex-basis: 50% !important; }
.flex-basis-75  { flex-basis: 75% !important; }
.flex-basis-100 { flex-basis: 100% !important; }

.flex-1 { flex: 1 !important; }
.flex-2 { flex: 2 !important; }

//
// Outline
//
.outline-none { outline: none !important; }

//
// Overflow
//
.overflow-auto     { overflow: auto !important; }
.overflow-hidden   { overflow: hidden !important; }
.overflow-x-auto   { overflow-x: auto !important; }
.overflow-x-hidden { overflow-x: hidden !important; }
.overflow-y-auto   { overflow-y: auto !important; }
.overflow-y-hidden { overflow-y: hidden !important; }

//
// Misc
//
.max-field-width {
  max-width: $maxFieldWidth;
}

.hide-empty:empty {
  display: none !important;
}

//
// SVG
//
@each $color, $value in $theme-colors {
  .fill-#{$color} {
    fill: $value !important;
  }
}

.fill-white    { fill: $white !important; }
.fill-body     { fill: $body-color !important; }
.fill-muted    { fill: $text-muted !important; }
.fill-black-50 { fill: rgba($black, .5) !important; }
.fill-white-50 { fill: rgba($white, .5) !important; }

//
// Vertical alignment
//
.align-sub   { vertical-align: sub !important; }
.align-super { vertical-align: super !important; }

//
// Scrollbars
//
.hide-scrollbars {
  scrollbar-color: white white;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
