// NOTE For declaring custom variables, please use Camel Case, to avoid confilcts with Bootstrap which declares variables using dashes.
// eg. Use `myCustomColor` instead of `my-custom-color`

/* ------------------------------------------------------ */
/*            BOOTSTRAP VARIABLES OVERRIDES               */
/* ------------------------------------------------------ */

//
// Color system
//
$body-color: #222222;
$dark: #0D1112;
$primary: #890036;
$secondary: #1A237E;
$success: #26a565;
$warning: #ffd54f;
$danger: #f22f2f;
$info: #2e70fa;

// Custom colors
$primaryDark: #6E002B;
$secondaryDark: #000039;
$primaryLight: #BE415F;
$secondaryLight: #534BAE;
$brand: #890036;
$gray: #757570;
$lightGray: #ececec;
$darkGray: #595959;
$blueGray: #E5E7EF;
$lightIndigo: #e8eaf6;

$primaryFaded: #8900371a;
$secondaryFaded: rgba(26, 34, 126, 0.103);

$theme-colors: map-merge((
  "gray": $gray,
  "light-gray": $lightGray,
  "dark-gray": $darkGray,
  "blue-gray": $blueGray,
  "primary-dark": $primaryDark,
  "primary-light": $primaryLight,
  "secondary-dark": $secondaryDark,
  "secondary-light": $secondaryLight,
  "primary-faded": $primaryFaded,
  "secondary-faded": $secondaryFaded,
), ());

/* ------------------------------------------------------ */
/*                    CUSTOM VARIABLES                    */
/* ------------------------------------------------------ */

//
// Shadows
//
$boxShadow0: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
$boxShadow1: 0 4px 12px 0 rgba(0, 0, 0, 0.10);
$boxShadow2: 0 8px 16px 0 rgba(0, 0, 0, 0.10);
$boxShadow3: 0 16px 24px 0 rgba(0, 0, 0, 0.08);

//
// Header
//
$headerHeight: 72px;

//
// Footer
//
$footerHeight: 68px;

//
// Misc
//
$maxFieldWidth: 360px;

/* ------------------------------------------------------ */
/*                  BOOTSTRAP VARIABLES                   */
/* ------------------------------------------------------ */

//
// Spacing
//
$spacer: 1rem;
$spacers: map-merge((6: ($spacer * 4),
7: ($spacer * 5),
8: ($spacer * 6),
9: ($spacer * 7)), ());

//
// Fonts
//
$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 1rem;

//
// Headings
//
$headings-font-weight: 300;
$headings-color: $dark;
$h1-font-size: $font-size-base * 2.375; // 38px
// $h2-font-size: $font-size-base * 2; // 32px
// $h3-font-size: $font-size-base * 1.75; // 28px
// $h4-font-size: $font-size-base * 1.5; // 24px
// $h5-font-size: $font-size-base * 1.25; // 20px
// $h6-font-size: $font-size-base; // 16px
$h2-font-size: $font-size-base * 1.4; // 22.4px
$h3-font-size: $font-size-base * 1.3; // 20.8px
$h4-font-size: $font-size-base * 1.2; // 19.2px
$h5-font-size: $font-size-base * 1.1; // 17.6px
$h6-font-size: $font-size-base; // 16px

//
// Text
//
$text-muted: #959AA7;

//
// Borders
//
$border-color: $blueGray;

//
// Buttons
//
$btn-padding-x: 1rem;
$btn-padding-y: 0.5rem;
$btn-padding-x-sm: 1rem;
$btn-padding-y-sm: 0.5rem;
$btn-padding-x-lg: 1rem;
$btn-padding-y-lg: 0.5rem;
$btn-font-size-lg: 1.125rem;

//
// Labels
//
$label-margin-bottom: 0.25rem;

//
// Inputs
//
$input-color: $body-color;
$input-box-shadow: 0;
$input-placeholder-color: $text-muted;
$input-focus-box-shadow: $boxShadow1;
$input-border-color: lighten( $text-muted, 18% );
$input-focus-border-color: $primary;

//
// Popovers
//
$popover-border-radius: 0;

//
// Badge
//
$badge-font-weight: 400;

//
// Modals
//
$modal-sm: 400px;
$modal-xl: 1200px;

//
// Cards
//
$card-border-color: $blueGray;

//
// List Groups
//
$list-group-border-color: $blueGray;

//
//Breakpoints
//
$xs-width: 575.98px;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;

/* ------------------------------------------------------ */
/*                    EXPORT VARIABLES                    */
/* ------------------------------------------------------ */

// :export {
//   // Colors
//   borderColor: $border-color;
//   bodyColor: $body-color;
//   darkColor: $dark;
//   primaryColor: $primary;
//   secondaryColor: $secondary;
//   successColor: $success;
//   warningColor: $warning;
//   dangerColor: $danger;
//   infoColor: $info;
//   brandColor: $brand;
//   grayColor: $gray;
//   lightGrayColor: $lightGray;
//   darkGrayColor: $darkGray;
//   blueGrayColor: $blueGray;
//   lightIndigoColor: $lightIndigo;

//   // Shadows
//   boxShadow0: $boxShadow0;
//   boxShadow1: $boxShadow1;
//   boxShadow2: $boxShadow2;
//   boxShadow3: $boxShadow3;

//   // Header
//   headerHeight: $headerHeight;

//   // Footer
//   footerHeight: $footerHeight;
// }
