body {
  // margin-top: $headerHeight;
  overflow-x: hidden;
}

main {
  background-color: #ffffff;
  font-size: 1.25rem;
}

@media (min-width: $xl-width) {
  .container{
      max-width: 1200px;
  }
}

h1{
  font-weight: bold;
  margin-bottom: $spacer;
}

@media(max-width: $md-width){
  h1{
    font-size : $font-size-base * 2.2;
  }
}



#whyUse{
  ul{
    padding: 0;
  }

  li{
    display: inline-block;
    list-style: none; 
    margin: 0 0 0 1.1225em;
    position: relative;
  }

  li::before{
    color: $primary;
    content: "\2022"; 
    display: inline-block;
    font-size: 2em;   
    left: -0.7em;
    position: absolute;
    top: -16px; 

  }
}

a {
  outline: none;
}

a:hover{
  color: $primary;
}

strong {
  @include font-weight(bold);
}

:focus:not(:focus-visible) {
  outline: none;
  border-color: inherit;
}

//
// Buttons
//
.btn {
  white-space: normal;
  box-shadow: $boxShadow2;
  border-radius: 40px;

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    box-shadow: none;
    cursor: not-allowed;
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &-link {
    box-shadow: none;
    border-radius: 0 !important;

    &:focus {
      text-decoration: underline;
    }
  }

  &-wide {
    min-width: 150px;
  }

  svg {
    transition: fill 0.15s ease-in-out;
  }
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-success,
.btn-outline-danger,
.btn-outline-dark {
  &.active,
  &:hover {
    svg {
      fill: $white !important;
    }
  }
}

.btn-outline-warning,
.btn-outline-info,
.btn-outline-light {
  &:hover {
    svg {
      fill: $dark !important;
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    &:hover {
      @include button-variant($value, $value, darken($value, 15%));
    }
  }
}

//
// Modals
//
.modal-xl {
  max-width: $modal-xl;
  margin: $modal-dialog-margin;

  @include media-breakpoint-up(lg) {
    margin: $modal-dialog-margin auto;
  }
}

.modal-full {
  max-width: 95%;
  margin: $modal-dialog-margin;

  @include media-breakpoint-up(lg) {
    margin: $modal-dialog-margin auto;
  }
}

.modal-close-button {
  padding: 0.5rem !important;
  border-radius: 0 !important;
  background-color: white !important;
  border-color: white !important;
  box-shadow: none;

  &:hover,
  &:active {
    background-color: white !important;
    border-color: white !important;
  }

  svg {
    fill: $dark !important;
  }
}

//
// Cards
//
.card {
  box-shadow: $boxShadow0;
  border: 0;

  &--success {
    border-top: 5px solid $success;
  }

  &--danger {
    border-top: 5px solid $danger;
  }

  &--warning {
    border-top: 5px solid $warning;
  }

  &--info {
    border-top: 5px solid $info;
  }

  &--primary {
    border-top: 5px solid $primary;
  }

  &-header,
  &-footer {
    background: $white;
  }
}

/* Custom Switch */
.custom-switch {
  .custom-control-label {
    &:before {
      background-color: #959AA7;
      border: 0;
    }

    &:after {
      background-color: #ffffff;
      border-radius: 50%;
    }
  }
}

.custom-switch-md {
  .custom-control-label {
    &:before {
      width: 2.5rem;
      height: 1.5rem;
      border-radius: 1.5rem;
      top: 0;
    }

    &:after {
      top: calc(0rem + 3px);
      left: calc(-2.25rem + 3px);
      width: 1.15rem;
      height: 1.15rem;
    }
  }

  .custom-control-input {
    &:checked
    {
      ~.custom-control-label
      {
        &:after {
          transform: translateX(0.95rem);
        }
      }
    }
  }
}

.custom-switch-lg {
  .custom-control-label {
    &:before {
      width: 2.8rem;
      height: 1.7rem;
      border-radius: 1.7rem;
      top: -0.15rem;
    }

    &:after {
      top: calc(-0.15rem + 3px);
      left: calc(-2.8rem + 11px);
      width: 1.32rem;
      height: 1.32rem;
    }
  }

  .custom-control-input {
    &:checked {
      ~.custom-control-label {
        &:after {
          transform: translateX(1.15rem);
        }
      }
    }
  }
}

/* Dropzone */
.dropzone {
  padding: 1.5rem;
  border-width: 1px;
  border-radius: $border-radius;
  border-color: $input-border-color;
  border-style: dashed;
  background-color: white;
  color: $text-muted;
  outline: none;
  text-align: center;
  transition: all 0.24s ease-in-out;
  cursor: pointer;
  overflow: hidden;

  &:focus {
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-box-shadow;
  }
}


.introComp {
  background-color: $primary;
  .carousel-controls {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  .carousel-control-next,
  .carousel-control-prev {
    position: static;
    top: unset;
    margin: 0 0.5rem;
  }
}

@media (max-width:447px) {
  .introMob {
    padding-left: 40px;
  }
}

.border-right {
  border-right: 1px solid $blueGray;
}

.border-bottom {
  border-bottom: 1px solid $blueGray;
}

// Makes a dropdown menu to stay inside the screen
.dropdown-left-manual {
  right: 0;
  left: auto;
  padding-left: 1px;
  padding-right: 1px;
}

/*Dropdown menu*/
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.dropdown {
  position: relative;
  top:0;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a {
  text-decoration: none;
}

.link:hover{
  text-decoration: underline;
  color:$primary;
}

.vh-50{
  height:50vh;
}

.vh-90{
  height:90vh;
}

.vh-100{
  height:100vh;
}

.center-content{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#needALawyer{
  .text-container{
    text-align: left;
  }
}

.il-container{
  position: relative;
}

#ilMonitor{
  position:absolute;
  top:400px;
  left: 12vw;
  transform: translate(0,-50%);
  width:40vw;
}

#ilLaptop{
  width:350px;
}

@media screen and (max-width: $md-width) {
  #needALawyer{
    .text-container{
      margin-top: 50px;
      text-align: center;
    }
  }
  #ilMonitor{
    position: static;
    top:0;
    left: 0;
    transform: translate(0,0);
    width:70vw;
    display: block;
    margin: 40px auto;
  }

  #ilLaptop{
    width:60vw;
    display: block;
    margin: 40px auto;
  }
}

#howItWorks{
  img{
    width:200px;
  }

  h2{
    height:65px;
  }
}

@media screen and (max-width: $lg-width) {
  #howItWorks{
    img{
      width:250px;
    }

    section{
      margin-bottom: $spacer * 4
    }
  }
}

.diagonal-top{
  -webkit-clip-path: polygon(0 0%, 100% 40px, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100%, 40px, 100% 100%, 0% 100%);
  height:600px;
  padding-top:100px;
  background-color: $secondaryDark;
  color:white !important;

  img{
    width:100%;
  }
  
  .text-container{
    padding-left:100px;
  }
  
  h1, h2, h3{
    color:white
  }
}

@media screen and (max-width: $lg-width) {
  .diagonal-top{
    text-align: center;

    height:850px;

    .text-container{
      padding-left:10px;
    }

    .img-container{
      margin-top: $spacer * 5;
      img{
        width: 65%;
      }
    }    
  }
}

footer{
  .row{
    min-height: 92px;

    .footer-follow{
      text-align: right;
    }

    fig, div, nav{
      margin: auto 10px;
    }
  }
}

@media screen and (max-width: $md-width) {
  footer{
    text-align: center;

    .footer-follow {
      margin-top: $spacer !important;
      text-align: center !important;
    }
  }
}

.circle {
  position: absolute;
  z-index: 0;
  width: 15vw;
  height: 15vw;
  background: $primaryFaded; 
  -moz-border-radius: 100%; 
  -webkit-border-radius: 100%; 
  border-radius: 100%;
}

#contactForm{
  margin-top:-1px;
  background-color: $secondaryDark;
  color: #ffffff !important;

  h1{
    color:white
  }
}

.errorMessage{
  font-size : 0.9rem;
  color: $danger;
}

.popup{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display:none;
}